<div class="container">
  <h3>
    <span class="bg-light">マイページ</span>
  </h3>
  <div class="row">
    <h3 class="col-2">登録情報</h3>
    <%= link_to "編集する", edit_public_customers_path, class:"btn btn-success" %>
  </div>
  <table class="table table-bordered mt-3 col-8">
    <tr>
      <th class="table-secondary col-3">氏名</th>
      <td>
        <%= @customer.full_name %>
      </td>
    </tr>
    <tr>
      <th class="table-secondary">カナ</th>
      <td>
        <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
      </td>
    </tr>
    <tr>
      <th class="table-secondary">郵便番号</th>
      <td>
        <%= @customer.zip_code %>
      </td>
    </tr>
    <tr>
      <th class="table-secondary">住所</th>
      <td>
        <%= @customer.address %>
      </td>
    </tr>
    <tr>
      <th class="table-secondary">電話番号</th>
      <td>
        <%= @customer.phone_number %>
      </td>
    </tr>
    <tr>
      <th class="table-secondary">メールアドレス</th>
      <td>
        <%= @customer.email %>
      </td>
    </tr>
  </table>
  <div class="row">
    <h3 class="col-2">配送先</h3>
    <%= link_to "一覧を見る", public_shipping_addresses_path, class:"btn btn-primary" %>
  </div>
  <div class="row mt-3">
    <h3 class="col-2">注文履歴</h3>
    <%= link_to "一覧を見る", public_orders_path, class:"btn btn-primary" %>
  </div>
</div>