<div class="container py-5 text-secondary">
  <div class="row">
    <div class="col-lg-3">
      <h5 class="border-bottom"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h5>
    </div>
  </div>
  <div class="row mt-5">
    <table class="col-md-8 mt-3" cellpadding="10">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @customer.full_name %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= @customer.full_name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @customer.zip_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <% if @customer.is_deleted == false %>
            <div class="text-success font-weight-bold">有効</div>
          <% else %>
            <div class="text-muted font-weight-bold">退会</div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td class="d-inline-flex">
          <div class="icon">
            <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-template" %>
          </div>
          <div class="icon ml-5">
            <%= link_to "注文履歴一覧を見る", admin_order_history_path(@customer), class: "btn btn-template-reverse" %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>