<% if current_customer.cart_items.blank? %>
  <div class ="container">
    <div class="row justify-content-center">
      <p class="text-center p-5">カートに商品がありません</p>
      <div class="w-100"></div>
      <%= link_to '買い物を続ける', root_path, class: 'btn btn-md btn-template-reverse' %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12">
        <div class="d-flex my-3">
          <h5 class="my-auto">ショッピングカート</h5>
          <div class="ml-auto">
            <%= link_to 'カートを空にする', public_cart_items_destroy_all_path, method: :delete, remote: true,data: {confirm: "すべて空にしますか？"}, class: 'btn btn-md btn-outline-danger' %>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="cart-items">
            <% current_customer.cart_items.each do |cart_item| %>
              <tr id="cart_<%= cart_item.id %>">
                <td class="align-middle">
                  <%= image_tag cart_item.item.get_image(50,75) %>
                  <%= cart_item.item.name %>
                </td>
                <!--税込み価格10%modelに記載-->
                <td class="align-middle"><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
                <td class="align-middle" name="myform">
                  <%= form_with model: cart_item, class: 'm-auto', id: 'form', local: false do |f| %>
                    <div class="row d-flex">
                      <%= f.select :amount, *[1..99] , {} , class: 'cart-item-select form-control col-md-4 pr-md-2 pr-lg-0 my-auto' %>
                      <%= f.submit '更新', class: "btn btn-template-reverse col-md-4 my-auto pr-md-5 pr-lg-3" %>
                    </div>
                  <% end %>
                </td>
                <td class="align-middle sub-total"><%= cart_item.subtotal.to_s(:delimited) %></td>
                <td class="text-right align-middle"><%= link_to '削除する', cart_item_path(cart_item), method: :delete, remote: true, class: 'btn btn-md btn-outline-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="d-flex my-5">
          <%= link_to '買い物を続ける', root_path, class: 'btn btn-template-reverse my-auto' %>
          <table class="table col-5 ml-auto my-auto">
            <tbody>
              <tr>
                <td>合計金額</td>
                <td class="all-with-tax-price"><%= current_customer.all_with_tax_price.to_s(:delimited) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-center"><%= link_to '注文情報入力画面', new_order_path, class: 'btn btn-md btn--orange my-3' %></div>
      </div>
    </div>
  </div>
<% end %>