<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between col-12 align-items-center">
      <h5 style="padding:8px; background-color:#eeeeee;" class="block">ショッピングカート</h5>

      <%= link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>

    <table class='table table-hover table-bordered '>
      <thead>
        <tr class="table-secondary table">
          <th class="col-4">商品名</th>
          <th class="col-2">単価（税込）</th>
          <th class="col-2">数量</th>
    　　  　<th class="col-2">小計</th>
          <th colspan="1" class="col-2"></th>
        </tr>
      </thead>
      <tbody class="text-start table-sm">
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td class="align-middle">
            <% if cart_item.item.image.attached? %>
              <%= image_tag cart_item.item.image, size: "50x50" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "50x50" %>
            <% end %>
            <%= cart_item.item.name %>
          </td>
          <td class="align-middle"><%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %></td>
          <td class="align-middle">
            <%= form_with model:cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
              <div class="form-group">
                <%= f.hidden_field :item_id, value: cart_item.item_id %>
              </div>
              <div class="form-group">
                <%= f.select :amount, *[1..10],  include_blank: '個数選択', selected: cart_item.amount, class: 'form-control' %>
                <%= f.submit "変更", class: 'btn btn-success' %>
              </div>
            <% end %>
          </td>
          <td class="align-middle"><%= cart_item.subtotal.to_s(:delimited, delimiter: ',') %></td>
          <td class="align-middle text-center"><%= link_to '削除する', public_cart_item_path(cart_item.id), method: :delete, class: "btn btn-sm btn-danger" %></td>
          <% @total +=  cart_item.subtotal %>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between">
      <%= link_to "買い物を続ける" , "/", class: "btn btn-info col-2" %>
      <table class="table table-bordered offset-6">
        <tr>
          <th class="col-2 table-secondary">合計金額</th>
          <th class="col-2"><%= @total.to_s(:delimited, delimiter: ',') %></th>
      </table>
    </div>

    <div style="margin-top:10px;" class="col text-center">
      <%= link_to "情報入力に進む", public_addresses_path, class: "btn btn-success " %>
    </div>

</div>
