<%= stylesheet_link_tag "application", :media => "all" %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"><%= render "public/homes/genre", genres: Genre.all %></div>
    <div class="col-md-5 text-center mt-5"><%= image_tag @item.get_image(200,300) %> </div>
    <div class="col-md-5 text-left mt-5">
      <div>
          <h2><%= @item.name %></h2>
          <h3><%= @item.introduction %></h3>
          <p>￥<%= @item.tax_include_price.to_s(:delimited) %>(税込)</p>
          <%= form_with model: [:public, CartItem.new] do |f| %>
             <%= f.hidden_field :item_id, :value  => @item.id %>
            <%= f.select :amount ,*[1..10],include_blank: "個数選択" %>
            <%= f.submit "カートに入れる", class: "btn btn-success ml-5" %>
          <%end%>
      </div>

    </div>
    </div>
</div>