<nav class = "navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/"><span><%= image_tag ('logo.png') , class: "header-logo"%></span></a>
    <div class="col ml-auto">
      <div class="row text-right">
        <div class="col ml-auto">
          <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-expanded="false" aria-label="Toggle navigation   bg-right">
            <span class="navbar-toggler-icon "></span>
          </button>
        </div>
         <div class="collapse navbar-collapse" id="navbarNavDropdown" >
          <% if admin_signed_in? %>
            <%= render 'layouts/admin_header' %>
          <% else %>
            <%= render 'layouts/customer_header' %>
          <% end %>
        </div>
      </div>
      <div class="row pt-2 d-none d-sm-inline">
        <div class="col text-right">
          <%= form_with url: search_path, method: :get do |f| %>
            <%= f.text_field :content, :class => "search-box" %>
            <%= button_tag :type => "submit", :class => "btn btn-default btn-s-md" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
 </nav>
