<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake9</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">

    <header class="header">
      <% if request.fullpath.include? "admin"  %>
        <%= render 'layouts/admin_header' %>
      <% else%>
        <%= render 'layouts/customer_header' %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
     <footer class="mt-5">
      <%= render 'layouts/footer' %>
      </footer>

    </div>
  </body>
</html>